<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testing.tests.T2Logout"/>
      <class name="com.testing.tests.T3DropDown"/>
      <class name="com.testing.tests.T1Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
